<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{facName}}: {{course}} курс {{group}} група</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="page-home main-fon" id="studentMenu">
  <ng-template ngFor let-week [ngForOf]="weekNames" let-i="index">
    <ion-list>
      <ion-list-header (click)="weekClicked(week,i)" class="weekHeader">
        {{week}}
        <ion-icon name="eye-off" item-end *ngIf="eyeOffSwitch[i]"></ion-icon>
        <ion-icon name="eye" item-end *ngIf="eyeOnSwitch[i]"></ion-icon>
      </ion-list-header>
      <ng-template ngFor let-day [ngForOf]="dayNamesList">
        <ion-list [hidden]="weekShowSwitch[week]">
          <ion-list-header *ngIf="checkForEmptyDay(wdp[week][day])" class="dayHeader">
            {{day}}
          </ion-list-header>
          <ng-template ngFor let-para [ngForOf]="paraNamberList">
            <ion-item *ngIf="wdp[week][day][para].length > 0">
              <ion-badge item-start>{{para}}</ion-badge>
              <ng-template ngFor let-prep [ngForOf]=getPrepodsCount(week,day,para)>
                <button ion-item detail-push no-lines
                        (click)="openTeacher(wdp[week][day][para][prep][3], wdp[week][day][para][prep][1])">
                  <b>{{wdp[week][day][para][prep][0]}}</b>  <!-- вид занятия-->
                  {{wdp[week][day][para][prep][2]}}   <!-- аудитория -->
                  {{wdp[week][day][para][prep][3]}}  <!-- фіо препода-->
                  <!--{{wdp[week][day][para][prep][4]}}/   &lt;!&ndash; группа &ndash;&gt;-->
                  <!--{{wdp[week][day][para][prep][5]}}-->
                  <br/>
                  {{wdp[week][day][para][prep][1]}}<br/>  <!--назва дисципліни-->
                </button>
              </ng-template>
            </ion-item>
          </ng-template>
        </ion-list>
      </ng-template>
    </ion-list>
  </ng-template>

</ion-content>

<ion-fab mini bottom right padding *ngIf="showAddButton">
  <button ion-fab (click)="saveTimeTable()">
    <ion-icon name="add"></ion-icon>
  </button>
</ion-fab>
