<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Налаштування параметрів</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="page-home main-fon" padding>
  <ion-card>
    <ion-card-header no-padding text-center class="setupHeader">
      <ion-card-title>
        Зберігання розкладу
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>
          дозволити зберігати розклад
        </ion-label>
        <ion-toggle [(ngModel)]="isSaveRozklad"
                    (ionChange)="saveParams('saveRozklad', isSaveRozklad)">
        </ion-toggle>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <!--
    <ion-card>
      <ion-card-header no-padding text-center class="setupHeader">
        <ion-card-title>
          Рейтинг викладачей
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col col-8>
              Увімкнути/вимкнути
            </ion-col>
            <ion-col offset-2>
              <ion-checkbox [(ngModel)]="isAllowRating" role="button"
                            (ionChange)="allowRating()" class="setupHeader"
                            style="margin-top: 15px!important;">
              </ion-checkbox>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  -->

  <ion-card padding-bottom>
    <ion-card-header no-padding text-center class='setupHeader'>
      <ion-card-title>
        Чистка локального сховища
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <ion-grid>
        <ion-row>
          <ion-col col-8>
            Натисніть, щоб видалити збережені розклади
          </ion-col>
          <ion-col offset-2>
            <ion-fab>
              <button ion-fab (click)="clearRozklad()">
                <ion-icon name="trash"></ion-icon>
              </button>
            </ion-fab>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header no-padding text-center class="setupHeader">
      <ion-card-title>
        Управління повідомленнями
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>
          отримувати повідомлення
        </ion-label>
        <ion-toggle [(ngModel)]="isAllowPush"
                    (ionChange)="saveParams('getPush', isAllowPush)">
        </ion-toggle>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>
