<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Розклад дзвінків</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="page-home main-fon">
  <ion-card padding>
    <ion-grid>
      <ion-row class= "hoursTitle">
        <ion-col col-2 >Пара</ion-col>
        <ion-col offset-2>Час</ion-col>
        <ion-col offset-2>Перерва(хв.)</ion-col>
      </ion-row>
      <ion-row *ngFor="let para of paraByHours">
        <ion-col col-2>
          <ion-badge>{{para.number}}</ion-badge>
        </ion-col>
        <ion-col offset-2>{{para.hours}}</ion-col>
        <ion-col offset-2>{{para.break}}</ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
