<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Про програму</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="page-home main-fon">
  <ion-card>
    <ion-card-title>Версія: 1.2.0</ion-card-title>
    <ion-card-content style="text-align: justify">
      <i>Програма призначена для швидкого доступу до постійного розкладу занять
        студентів очної форми навчання КНТЕУ</i>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content style="text-align: justify">
      <p>
        Програма використовує дані, що розміщені <b>у вільному доступі</b> на <a href="http://knteu.kiev.ua"> сайті КНТЕУ</a>
        та дозволяє отримати розклад по конкретній групі, або дізнатися розклад занять
        окремого викладача та деякі інші корисні відомості.</p>
      <ion-icon style="color: orangered; font-size: 1.3em" name="warning"></ion-icon>
      <small><i>Достовірність, актуальність та повнота даних обумовлена контентом сайту КНТЕУ, тому
        за ці показники розробник програми відповідальність не несе.
      </i></small>

      <button ion-button round center class="button-block"
              style="margin-top: 1.3em; height: 40px;"
              (click)="goToPlayMarket()">
        Оцінити та надати зауваження
      </button>
      <div style="text-align: center; padding-top: 1.5em">
        <ion-icon class="aboutLogo" name="logo-angular"></ion-icon>
        <!--<ion-icon class="aboutLogo" name="logo-ionic"></ion-icon>-->
        <ion-icon class="aboutLogo" name="logo-html5"></ion-icon>
        <ion-icon class="aboutLogo" name="logo-css3"></ion-icon>
        <ion-icon class="aboutLogo" name="logo-javascript"></ion-icon>
        <ion-icon class="aboutLogo" name="logo-python"></ion-icon>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>
