// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";

// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;

@import "ionic.globals";

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary: #488aff,
  secondary: #32db64,
  danger: #f53d3d,
  light: #f4f4f4,
  dark: #222
);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";

// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

$toolbar-background: gray;

$item-md-detail-push-show: true;

$navbar-md-height: 100px;

$label-md-text-color: #343434;
$label-ios-text-color: #343434;

$button-md-outline-box-shadow: #343434;

$list-md-header-font-size: 1.2em;
$list-ios-header-font-size: 1.1em;
$list-ios-header-margin-bottom	: 0px;

$toast-ios-title-font-size:0.7rem;

$badge-md-background-color: #343434;
$badge-font-size: 2rem;

//$badge-md-border-radius:45%;
$popover-md-width:80%;
$popover-ios-width:80%;

$card-md-margin-left:3px;
$card-md-margin-right:3px;
$card-md-padding-top:0px;
$card-md-padding-start:10px;
$card-md-padding-bottom:5px;

//$card-md-title-margin-bottom:3px;
$card-md-title-padding-bottom:3px;
$card-md-title-padding-start:10px;
$card-md-title-font-size: 1.4em;

$alert-md-button-font-weight:1.2rem;
$alert-md-button-background-color: #343434;

$toggle-md-handle-background-color-on:green;
$toggle-md-handle-background-color-off:gray;
/*
$toggle-md-track-background-color-on: red;
$toggle-md-track-background-color-off: yellow;
*/
