$MAIN_FONT_COLOR: #fafafa;
$MENU_BACKGROUND: #343434;
$HEADER_COLOR: #8c8c8c;

.main-fon {
  background: -moz-linear-gradient(90deg, rgba(173, 173, 173, 1) 0%, rgba(54, 54, 54, 1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(54, 54, 54, 1)), color-stop(100%, rgba(173, 173, 173, 1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(90deg, rgba(173, 173, 173, 1) 0%, rgba(54, 54, 54, 1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(90deg, rgba(173, 173, 173, 1) 0%, rgba(54, 54, 54, 1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(90deg, rgba(173, 173, 173, 1) 0%, rgba(54, 54, 54, 1) 100%); /* ie10+ */
  background: linear-gradient(0deg, rgba(173, 173, 173, 1) 0%, rgba(54, 54, 54, 1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#363636', endColorstr='#ADADAD', GradientType=0); /* ie6-9 */
}

.main-menu, .main-menu ion-item-divider {
  background-color: $MENU_BACKGROUND;
  color: $MAIN_FONT_COLOR;
  margin-top: 0px;
  min-height: 40px !important;

}

#menu-image {
  display: block;
  width: 100%;
  height: auto;
  margin: auto;
  opacity: 0.9;
}

.divider-transparent {
  background-color: transparent !important;
}

ion-list-header {
  background-color: transparent !important;
  border: transparent !important;
  color: $MAIN_FONT_COLOR !important;
}

.menuShowButton {
  color: $MENU_BACKGROUND;
  border-color: $MAIN_FONT_COLOR;
}

.menuShowButton:hover {
  background-color: $MAIN_FONT_COLOR;
}

.img-centered {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-60%);
  opacity: .8;
}

#studentMenu > ion-item {
  border-radius: 10px;
}

.dayHeader {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  background-color: $HEADER_COLOR !important;
}

.weekHeader {
  background-color: $MENU_BACKGROUND !important;
}

.setupHeader {
  font-size: 1.2rem !important;
  padding-top: 0;
  @extend .dayHeader;
}

.alertButton {
  background-color: #007aff !important;
  color: #fafafa !important;
  //width: 60px!important;
  text-align: center !important;
  border-radius: 4px !important;
}

.hoursTitle {
  background-color: $HEADER_COLOR;
  color: $MAIN_FONT_COLOR;
  padding-top: 5px;
  padding-bottom: 5px;
}

.warningToast {
  > div {
    background-color: red !important;
  }
}

.infoToast {
  > div {
    background-color: $MENU_BACKGROUND;
  }
}

.aboutLogo{
  color: $HEADER_COLOR;
  font-size: 2em;
  margin: 0 .2em;
}

