<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Новини КНТЕУ</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="page-home main-fon">

  <div class="spinnerCenter" *ngIf="showSpinner">
    <ion-spinner name="bubbles" id="spinner"></ion-spinner>
  </div>

  <ion-card *ngFor="let news of shortNewsList">
    <ion-card-content class="dayHeader" style="color: #fafafa;">
      <ion-grid>
        <ion-row>
          <ion-col col-4> {{news.date}}</ion-col>
          <ion-col offset-7>
            <ion-icon name="share" (click)="shareClick(news)"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card-content>
    <ion-card-content style="text-align: justify; font-weight: bold">
      {{news.title}}
    </ion-card-content>
    <ion-card-content>
      <div class="spinnerCenter" *ngIf="!news.pict_url">
        <ion-spinner name="bubbles"></ion-spinner>
      </div>
      <img src="{{news.pict_url}}" *ngIf="news.pict_url">
    </ion-card-content>
    <ion-card-content>
      <p (click)="showNewsDetails(news)" style="color: #007aff">
        {{news.annotation}}
      </p>
    </ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col col-1 offset-1>
          <ion-icon name="ios-arrow-up" class="news-comments" (click)="changeVotes(1, news._id)"></ion-icon>
        </ion-col>
        <ion-col col size="auto" class="news-comments" style="font-size: 1.2em">
          {{getVotesBalance(news.votes)}}
        </ion-col>
        <ion-col col-1>
          <ion-icon name="ios-arrow-down" class="news-comments" (click)="changeVotes(0, news._id)"></ion-icon>
        </ion-col>
        <ion-col col-1 offset-5>
          <ion-icon name="eye" class="news-comments"></ion-icon>
        </ion-col>
        <ion-col col-2 class="news-comments" style="font-size: 1.2em">
          {{getTotalViews(news)}}
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>
