<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Розклад викладача</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="page-home main-fon">

  <ion-list>

    <ion-item>
      <ion-input type="text" placeholder="Почніть вводити прізвище"
                 [(ngModel)]="selectedTeacher"
                 [typeahead]="getFullTeacherList()"
                 <!--(typeaheadOnSelect)="teacherSelected($event)">-->

      </ion-input>
    </ion-item>


  </ion-list>

</ion-content>
